#pragma once
#include <streampu.hpp>

namespace spu {
namespace module {

class {{ module_name }} : public Stateful
{
private:
    int n_elmts;

public:
    {{ module_name }}(const int n_elmts);
    virtual ~{{ module_name }}() = default;
    
    virtual {{ module_name }}* clone() const override;

protected:
    void _process(const int* in, int* out, const int frame_id);
};

}
}
